/*****************************************ANIMATIONS*/
@keyframes greyBttn {
  0% {background-color: #9c9c9c;}
  to {background-color: #505050;}
}
@keyframes lightGreyBttn {
  from {background-color: #f5f5f5;}
  to {background-color: #D4D4D2;}
}
@keyframes orangeBttn {
  from {background-color: #FF9500;}
  to {background-color: white;}
}
/*****************************************GLOBAAL*/
*{
	margin:0;
	padding:0;
}
.rightFloat{
	float:right;
}
.rightLeft{
	float:left;
}
.noselect {/*disable highlighting*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*****************************************HTML BODY*/
body{
	background:#eee;
	font-family: helvetica;
	font-size: 18pt;
}
table{
	border-spacing: 10px;
}
td{
	width:50px;height: 50px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
	.zeroBttn{
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		text-align: left;
		padding-left: 20px;
	}
	.lightGreyBttn{
		background-color: #D4D4D2;
		color:#1C1C1C;
		animation-fill-mode: forwards;
		animation-duration: 1.2s;
	}
	.greyBttn{
		background-color: #505050;
		color: white;
		animation-fill-mode: forwards;
		animation-duration: 1.2s;
	}
	.orangeBttn{
		background-color: #FF9500;
		color: white;
		animation-fill-mode: forwards;
		animation-duration: 1.2s;
	}
#glare{
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 3;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 35%, rgba(61,61,61,1) 58%, rgba(0,0,0,1) 100%);
	opacity: .2;
	pointer-events: none;/*allows buttons to be pressed behind div*/
}
#mainBody{
	height:550px;
	width:300px;
	background-image: linear-gradient(grey, lightgrey);
	border-radius: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	grid-template-rows:200px 350px;
	grid-template-areas: 
	"display"
	"buttons";
}
	#screen{
		position: relative;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		margin-top:5px;margin-left:5px;margin-right:5px;
		grid-area:display;
		background-color:black;
		color: white;
		padding-right:30px;
	}
		#statsBar{

			/*background-color: red;*/
			opacity: .5;
			width: 100%;
			position: absolute;
			z-index: 2;
			border-top-left-radius: 40px;
			border-top-right-radius: 40px;
			width: 100%;
			height:50px;
			box-sizing: border-box;
			padding: 15px;
			font-size: 10px;
		}
			#battery{
				width: 20px;
				height:20px;
			}
		#screenContainer{
			position: relative;
			/*background-color: red; DEBUG*/
			width:100%;
			height:100%;
		}
		#number{
			position: absolute;
			/*background-color: blue; DEBUG*/
			right:0;
			bottom:0;
			font-size: 50pt;
		}
	#body{
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
		grid-area:buttons;
		background-color:black;
		margin-bottom:5px;margin-left:5px;margin-right:5px;

		display: grid;
		justify-content: center;
		align-content: center;
	}
